<window id="4">
	<defaultcontrol always="true">22</defaultcontrol>
	<allowoverlay>yes</allowoverlay>
	<controls>

	<control type="label">
		<posx>0</posx>
		<posy>-125</posy>
		<width>1280</width>
		<height>720</height>
		<align>center</align>
		<aligny>center</aligny>
		<font>intro</font>
		<label>WELCOME TO AEON&#10;Please note that this alpha software is in early development&#10;&#10;YOUR XBMC BUILD IS DATED $INFO[System.BuildDate]&#10;THIS SKIN REQUIRES A BUILD DATED May 18 2008 OR LATER&#10;&#10;PRESS BACK TO BEGIN (ALL SETTINGS KEPT)&#10;or&#10;PRESS SELECT TO BEGIN (SETTINGS RESET, USER PATHS KEPT - RECOMMENDED)</label>
	</control>

	<control type="button" id="22">
		<posx>0</posx>
		<posy>-75</posy>
		<include>keepusersettings</include>
		<onclick>XBMC.ActivateWindow(Home)</onclick>
	</control>
	</controls>
</window>
