<settings>
   <!-- GUI  -->
   <setting id="channel" type="enum" lvalues="40030|40031|40032"  label="30011" default="0"/>
   <setting id="max_result" type="integer" label="30002" default="25"/>
   <setting id="start_index" type="integer" label="30008" default="0"/>
   <setting id="orderby" type="enum" label="30009" lvalues="40005|40006|40007|40008|40009" default="0"/> 
   <setting id="time" type="enum" enable="eq(-4,0)" lvalues="40001|40002|40003|40004"  label="30000" default="0"/>
   <setting id="categories" type="enum" enable="eq(-5,0)" label="30007" lvalues="40010|40011|40012|40013|40014|40015|40016|40017|40018|40019|40020|40021|40022|40023|40024|40025" default="0"/> 
   <setting id="sites" type="text" enable="!eq(-6,0)" label="30012" default="vids.myspace.com"/>	 
   <setting type="sep" />
   <setting id="user_id" type="text" label="30003" default="YahooDemo"/>
   <setting id="user_feeds" type="enum" label="30004" lvalues="40026|40027" default="0"/> 
   <setting type="sep" />
   <setting id="download" type="bool" label="30005" default="false"/>
   <setting id="download_path" type="folder" enable="eq(-1,true)" source="video" label="30006"  option="writeable" default="F:\videos" />
   <setting id="player_type" type="enum" lvalues="40028|40029" label="30010" default="0"/>
   
	
</settings>
