<window>
    <id>1</id>
    <defaultgroup>mythtv</defaultgroup>
#include vars.xml

    <row_h>30.0/720.0*(height)</row_h>
    <row_dh>15.0/720.0*(height)</row_dh>
    <row_dw>30.0/1280.0*(width)</row_dw>

    <label_x>(data_up_x)</label_x>
    <label_w>(data_w)/2.0-(row_dw)</label_w>

    <value_w>(data_w)-(label_w)-(row_dw)</value_w>
    <value_x>(data_dn_x)-(value_w)</value_x>
    <value_align>5</value_align>

    <controls>
#include bgctls.xml
#include titlectls.xml
        <control>
#include titleattrs.xml
            <id>mythtv_title</id>
            <label>18</label>
            <group>mythtv</group>
        </control>
        <control>
            <description>Myth TV button</description>
            <id>menu_mythtv_mythtv</id>
            <type>button</type>
            <posX>(menu_up_x)</posX>
            <posY>(menu_up_y)+0*((menubtn_h)+(menubtn_dh))</posY>
            <width>(menubtn_w)</width>
            <height>(menubtn_h)</height>
            <offsetX>(btn_off_x)</offsetX>
            <offsetY>(btn_off_y)</offsetY>
            <alignment>(btn_align)</alignment>
            <label>21</label>
            <font>(menubtn_font)</font>
            <default>yes</default>
            <group>mythtv</group>
            <onup>menu_mythtv_save</onup>
            <ondown>menu_mythtv_mysql</ondown>
            <onleft>mythtv_host</onleft>
            <onright>mythtv_host</onright>
            <texturefocus>button_focus.png</texturefocus>
            <texturenofocus>button_nofocus.png</texturenofocus>
        </control>
        <control>
            <description>MySQL button</description>
            <id>menu_mythtv_mysql</id>
            <type>button</type>
            <posX>(menu_up_x)</posX>
            <posY>(menu_up_y)+1*((menubtn_h)+(menubtn_dh))</posY>
            <width>(menubtn_w)</width>
            <height>(menubtn_h)</height>
            <offsetX>(btn_off_x)</offsetX>
            <offsetY>(btn_off_y)</offsetY>
            <alignment>(btn_align)</alignment>
            <label>22</label>
            <font>(menubtn_font)</font>
            <group>mythtv</group>
            <onup>menu_mythtv_mythtv</onup>
            <ondown>menu_mythtv_paths</ondown>
            <onleft>mythtv_host</onleft>
            <onright>mythtv_host</onright>
            <texturefocus>button_focus.png</texturefocus>
            <texturenofocus>button_nofocus.png</texturenofocus>
        </control>
        <control>
            <description>Paths button</description>
            <id>menu_mythtv_paths</id>
            <type>button</type>
            <posX>(menu_up_x)</posX>
            <posY>(menu_up_y)+2*((menubtn_h)+(menubtn_dh))</posY>
            <width>(menubtn_w)</width>
            <height>(menubtn_h)</height>
            <offsetX>(btn_off_x)</offsetX>
            <offsetY>(btn_off_y)</offsetY>
            <alignment>(btn_align)</alignment>
            <label>23</label>
            <font>(menubtn_font)</font>
            <group>mythtv</group>
            <onup>menu_mythtv_mysql</onup>
            <ondown>menu_mythtv_test</ondown>
            <onleft>mythtv_host</onleft>
            <onright>mythtv_host</onright>
            <texturefocus>button_focus.png</texturefocus>
            <texturenofocus>button_nofocus.png</texturenofocus>
        </control>
        <control>
            <description>Test button</description>
            <id>menu_mythtv_test</id>
            <type>button</type>
            <posX>(menu_up_x)</posX>
            <posY>(menu_up_y)+4*((menubtn_h)+(menubtn_dh))</posY>
            <width>(menubtn_w)</width>
            <height>(menubtn_h)</height>
            <offsetX>(btn_off_x)</offsetX>
            <offsetY>(btn_off_y)</offsetY>
            <alignment>(btn_align)</alignment>
            <label>24</label>
            <font>(menubtn_font)</font>
            <group>mythtv</group>
            <onup>menu_mythtv_paths</onup>
            <ondown>menu_mythtv_save</ondown>
            <onleft>mythtv_host</onleft>
            <onright>mythtv_host</onright>
            <texturefocus>button_focus.png</texturefocus>
            <texturenofocus>button_nofocus.png</texturenofocus>
        </control>
        <control>
            <description>Save button</description>
            <id>menu_mythtv_save</id>
            <type>button</type>
            <posX>(menu_up_x)</posX>
            <posY>(menu_up_y)+5*((menubtn_h)+(menubtn_dh))</posY>
            <width>(menubtn_w)</width>
            <height>(menubtn_h)</height>
            <offsetX>(btn_off_x)</offsetX>
            <offsetY>(btn_off_y)</offsetY>
            <alignment>(btn_align)</alignment>
            <label>17</label>
            <font>(menubtn_font)</font>
            <group>mythtv</group>
            <onup>menu_mythtv_test</onup>
            <ondown>menu_mythtv_mythtv</ondown>
            <onleft>mythtv_host</onleft>
            <onright>mythtv_host</onright>
            <texturefocus>button_focus.png</texturefocus>
            <texturenofocus>button_nofocus.png</texturenofocus>
        </control>
        
        <control>
            <description>Host label</description>
            <id>mythtv_host_lbl</id>
            <type>label</type>
            <posX>(label_x)</posX>
            <posY>(data_up_y)+0*((row_h)+(row_dh))</posY>
            <width>(label_w)</width>
            <height>(row_h)</height>
            <label>7</label>
            <font>(label_font)</font>
            <textcolor>0xffffffff</textcolor>
            <group>mythtv</group>
        </control>
        <control>
            <description>Port label</description>
            <id>mythtv_port_lbl</id>
            <type>label</type>
            <posX>(label_x)</posX>
            <posY>(data_up_y)+1*((row_h)+(row_dh))</posY>
            <width>(label_w)</width>
            <height>(row_h)</height>
            <label>8</label>
            <font>(label_font)</font>
            <textcolor>0xffffffff</textcolor>
            <group>mythtv</group>
        </control>
        <control>
            <description>Min Buf Size label</description>
            <id>mythtv_minlivebufsize_lbl</id>
            <type>label</type>
            <posX>(label_x)</posX>
            <posY>(data_up_y)+2*((row_h)+(row_dh))</posY>
            <width>(label_w)</width>
            <height>(row_h)</height>
            <label>55</label>
            <font>(label_font)</font>
            <textcolor>0xffffffff</textcolor>
            <group>mythtv</group>
        </control>
        <control>
            <description>Tune Wait label</description>
            <id>mythtv_tunewait_lbl</id>
            <type>label</type>
            <posX>(label_x)</posX>
            <posY>(data_up_y)+3*((row_h)+(row_dh))</posY>
            <width>(label_w)</width>
            <height>(row_h)</height>
            <label>162</label>
            <font>(label_font)</font>
            <textcolor>0xffffffff</textcolor>
            <group>mythtv</group>
        </control>
        
        <control>
            <description>Host button</description>
            <id>mythtv_host</id>
            <type>button</type>
            <posX>(value_x)</posX>
            <posY>(data_up_y)+0*((row_h)+(row_dh))</posY>
            <width>(value_w)</width>
            <height>(row_h)</height>
            <offsetX>(btn_off_x)</offsetX>
            <offsetY>(btn_off_y)</offsetY>
            <alignment>(value_align)</alignment>
            <font>(menubtn_font)</font>
            <help>74</help>
            <group>mythtv</group>
            <onup>mythtv_tunewait</onup>
            <ondown>mythtv_port</ondown>
            <onleft>menu_mythtv_mythtv</onleft>
            <onright>menu_mythtv_mythtv</onright>
            <texturefocus>button_focus.png</texturefocus>
            <texturenofocus>button_nofocus.png</texturenofocus>
        </control>
        <control>
            <description>Port button</description>
            <id>mythtv_port</id>
            <type>button</type>
            <posX>(value_x)</posX>
            <posY>(data_up_y)+1*((row_h)+(row_dh))</posY>
            <width>(value_w)</width>
            <height>(row_h)</height>
            <offsetX>(btn_off_x)</offsetX>
            <offsetY>(btn_off_y)</offsetY>
            <alignment>(value_align)</alignment>
            <font>(menubtn_font)</font>
            <group>mythtv</group>
            <onup>mythtv_host</onup>
            <ondown>mythtv_minlivebufsize</ondown>
            <onleft>menu_mythtv_mythtv</onleft>
            <onright>menu_mythtv_mythtv</onright>
            <texturefocus>button_focus.png</texturefocus>
            <texturenofocus>button_nofocus.png</texturenofocus>
        </control>
        <control>
            <description>Min Buf Size button</description>
            <id>mythtv_minlivebufsize</id>
            <type>button</type>
            <posX>(value_x)</posX>
            <posY>(data_up_y)+2*((row_h)+(row_dh))</posY>
            <width>(value_w)</width>
            <height>(row_h)</height>
            <offsetX>(btn_off_x)</offsetX>
            <offsetY>(btn_off_y)</offsetY>
            <alignment>(value_align)</alignment>
            <font>(menubtn_font)</font>
            <group>mythtv</group>
            <onup>mythtv_port</onup>
            <ondown>mythtv_tunewait</ondown>
            <onleft>menu_mythtv_mythtv</onleft>
            <onright>menu_mythtv_mythtv</onright>
            <texturefocus>button_focus.png</texturefocus>
            <texturenofocus>button_nofocus.png</texturenofocus>
        </control>
        <control>
            <description>LiveTV Tune Wait button</description>
            <id>mythtv_tunewait</id>
            <type>button</type>
            <posX>(value_x)</posX>
            <posY>(data_up_y)+3*((row_h)+(row_dh))</posY>
            <width>(value_w)</width>
            <height>(row_h)</height>
            <offsetX>(btn_off_x)</offsetX>
            <offsetY>(btn_off_y)</offsetY>
            <alignment>(value_align)</alignment>
            <font>(menubtn_font)</font>
            <group>mythtv</group>
            <onup>mythtv_minlivebufsize</onup>
            <ondown>mythtv_host</ondown>
            <onleft>menu_mythtv_mythtv</onleft>
            <onright>menu_mythtv_mythtv</onright>
            <texturefocus>button_focus.png</texturefocus>
            <texturenofocus>button_nofocus.png</texturenofocus>
        </control>
        <!-- END mythtv -->

        <!-- BEGIN mysql -->
        <control>
#include titleattrs.xml
            <id>mysql_title</id>
            <label>19</label>
            <group>mysql</group>
        </control>
        <control>
            <description>Myth TV button</description>
            <id>menu_mysql_mythtv</id>
            <type>button</type>
            <posX>(menu_up_x)</posX>
            <posY>(menu_up_y)+0*((menubtn_h)+(menubtn_dh))</posY>
            <offsetX>(btn_off_x)</offsetX>
            <offsetY>(btn_off_y)</offsetY>
            <alignment>(btn_align)</alignment>
            <width>(menubtn_w)</width>
            <height>(menubtn_h)</height>
            <label>21</label>
            <font>(menubtn_font)</font>
            <group>mysql</group>
            <onup>menu_mysql_save</onup>
            <ondown>menu_mysql_mysql</ondown>
            <onleft>mysql_host</onleft>
            <onright>mysql_host</onright>
            <texturefocus>button_focus.png</texturefocus>
            <texturenofocus>button_nofocus.png</texturenofocus>
        </control>
        <control>
            <description>MySQL button</description>
            <id>menu_mysql_mysql</id>
            <type>button</type>
            <posX>(menu_up_x)</posX>
            <posY>(menu_up_y)+1*((menubtn_h)+(menubtn_dh))</posY>
            <offsetX>(btn_off_x)</offsetX>
            <offsetY>(btn_off_y)</offsetY>
            <alignment>(btn_align)</alignment>
            <width>(menubtn_w)</width>
            <height>(menubtn_h)</height>
            <label>22</label>
            <font>(menubtn_font)</font>
            <default>yes</default>
            <group>mysql</group>
            <onup>menu_mysql_mythtv</onup>
            <ondown>menu_mysql_paths</ondown>
            <onleft>mysql_host</onleft>
            <onright>mysql_host</onright>
            <texturefocus>button_focus.png</texturefocus>
            <texturenofocus>button_nofocus.png</texturenofocus>
        </control>
        <control>
            <description>Paths button</description>
            <id>menu_mysql_paths</id>
            <type>button</type>
            <posX>(menu_up_x)</posX>
            <posY>(menu_up_y)+2*((menubtn_h)+(menubtn_dh))</posY>
            <offsetX>(btn_off_x)</offsetX>
            <offsetY>(btn_off_y)</offsetY>
            <alignment>(btn_align)</alignment>
            <width>(menubtn_w)</width>
            <height>(menubtn_h)</height>
            <label>23</label>
            <font>(menubtn_font)</font>
            <group>mysql</group>
            <onup>menu_mysql_mysql</onup>
            <ondown>menu_mysql_test</ondown>
            <onleft>mysql_host</onleft>
            <onright>mysql_host</onright>
            <texturefocus>button_focus.png</texturefocus>
            <texturenofocus>button_nofocus.png</texturenofocus>
        </control>
        <control>
            <description>Test button</description>
            <id>menu_mysql_test</id>
            <type>button</type>
            <posX>(menu_up_x)</posX>
            <posY>(menu_up_y)+4*((menubtn_h)+(menubtn_dh))</posY>
            <offsetX>(btn_off_x)</offsetX>
            <offsetY>(btn_off_y)</offsetY>
            <alignment>(btn_align)</alignment>
            <width>(menubtn_w)</width>
            <height>(menubtn_h)</height>
            <label>24</label>
            <font>(menubtn_font)</font>
            <group>mysql</group>
            <onup>menu_mysql_paths</onup>
            <ondown>menu_mysql_save</ondown>
            <onleft>mysql_host</onleft>
            <onright>mysql_host</onright>
            <texturefocus>button_focus.png</texturefocus>
            <texturenofocus>button_nofocus.png</texturenofocus>
        </control>
        <control>
            <description>Save button</description>
            <id>menu_mysql_save</id>
            <type>button</type>
            <posX>(menu_up_x)</posX>
            <posY>(menu_up_y)+5*((menubtn_h)+(menubtn_dh))</posY>
            <offsetX>(btn_off_x)</offsetX>
            <offsetY>(btn_off_y)</offsetY>
            <alignment>(btn_align)</alignment>
            <width>(menubtn_w)</width>
            <height>(menubtn_h)</height>
            <label>17</label>
            <font>(menubtn_font)</font>
            <group>mysql</group>
            <onup>menu_mysql_test</onup>
            <ondown>menu_mysql_mythtv</ondown>
            <onleft>mysql_host</onleft>
            <onright>mysql_host</onright>
            <texturefocus>button_focus.png</texturefocus>
            <texturenofocus>button_nofocus.png</texturenofocus>
        </control>
        <control>
            <description>Host label</description>
            <id>mysql_host_lbl</id>
            <type>label</type>
            <posX>(label_x)</posX>
            <posY>(data_up_y)+0*((row_h)+(row_dh))</posY>
            <width>(label_w)</width>
            <height>(row_h)</height>
            <label>37</label>
            <font>(label_font)</font>
            <textcolor>0xffffffff</textcolor>
            <group>mysql</group>
        </control>
        <control>
            <description>Port label</description>
            <id>mysql_port_lbl</id>
            <type>label</type>
            <posX>(label_x)</posX>
            <posY>(data_up_y)+1*((row_h)+(row_dh))</posY>
            <width>(label_w)</width>
            <height>(row_h)</height>
            <label>8</label>
            <font>(label_font)</font>
            <textcolor>0xffffffff</textcolor>
            <group>mysql</group>
        </control>
        <control>
            <description>Database label</description>
            <id>mysql_database_lbl</id>
            <type>label</type>
            <posX>(label_x)</posX>
            <posY>(data_up_y)+2*((row_h)+(row_dh))</posY>
            <width>(label_w)</width>
            <height>(row_h)</height>
            <label>11</label>
            <font>(label_font)</font>
            <textcolor>0xffffffff</textcolor>
            <group>mysql</group>
        </control>
        <control>
            <description>User label</description>
            <id>mysql_user_lbl</id>
            <type>label</type>
            <posX>(label_x)</posX>
            <posY>(data_up_y)+3*((row_h)+(row_dh))</posY>
            <width>(label_w)</width>
            <height>(row_h)</height>
            <label>12</label>
            <font>(label_font)</font>
            <textcolor>0xffffffff</textcolor>
            <group>mysql</group>
        </control>
        <control>
            <description>Password label</description>
            <id>mysql_password_lbl</id>
            <type>label</type>
            <posX>(label_x)</posX>
            <posY>(data_up_y)+4*((row_h)+(row_dh))</posY>
            <width>(label_w)</width>
            <height>(row_h)</height>
            <label>13</label>
            <font>(label_font)</font>
            <textcolor>0xffffffff</textcolor>
            <group>mysql</group>
        </control>
        <control>
            <description>Host button</description>
            <id>mysql_host</id>
            <type>button</type>
            <posX>(value_x)</posX>
            <posY>(data_up_y)+0*((row_h)+(row_dh))</posY>
            <width>(value_w)</width>
            <height>(row_h)</height>
            <offsetX>(btn_off_x)</offsetX>
            <offsetY>(btn_off_y)</offsetY>
            <alignment>(value_align)</alignment>
            <font>(menubtn_font)</font>
            <group>mysql</group>
            <onup>mysql_password</onup>
            <ondown>mysql_port</ondown>
            <onleft>menu_mysql_mysql</onleft>
            <onright>menu_mysql_mysql</onright>
            <texturefocus>button_focus.png</texturefocus>
            <texturenofocus>button_nofocus.png</texturenofocus>
        </control>
        <control>
            <description>Port button</description>
            <id>mysql_port</id>
            <type>button</type>
            <posX>(value_x)</posX>
            <posY>(data_up_y)+1*((row_h)+(row_dh))</posY>
            <width>(value_w)</width>
            <height>(row_h)</height>
            <offsetX>(btn_off_x)</offsetX>
            <offsetY>(btn_off_y)</offsetY>
            <alignment>(value_align)</alignment>
            <font>(menubtn_font)</font>
            <group>mysql</group>
            <onup>mysql_host</onup>
            <ondown>mysql_database</ondown>
            <onleft>menu_mysql_mysql</onleft>
            <onright>menu_mysql_mysql</onright>
            <texturefocus>button_focus.png</texturefocus>
            <texturenofocus>button_nofocus.png</texturenofocus>
        </control>
        <control>
            <description>Database button</description>
            <id>mysql_database</id>
            <type>button</type>
            <posX>(value_x)</posX>
            <posY>(data_up_y)+2*((row_h)+(row_dh))</posY>
            <width>(value_w)</width>
            <height>(row_h)</height>
            <offsetX>(btn_off_x)</offsetX>
            <offsetY>(btn_off_y)</offsetY>
            <alignment>(value_align)</alignment>
            <font>(menubtn_font)</font>
            <group>mysql</group>
            <onup>mysql_port</onup>
            <ondown>mysql_user</ondown>
            <onleft>menu_mysql_mysql</onleft>
            <onright>menu_mysql_mysql</onright>
            <texturefocus>button_focus.png</texturefocus>
            <texturenofocus>button_nofocus.png</texturenofocus>
        </control>
        <control>
            <description>User button</description>
            <id>mysql_user</id>
            <type>button</type>
            <posX>(value_x)</posX>
            <posY>(data_up_y)+3*((row_h)+(row_dh))</posY>
            <width>(value_w)</width>
            <height>(row_h)</height>
            <offsetX>(btn_off_x)</offsetX>
            <offsetY>(btn_off_y)</offsetY>
            <alignment>(value_align)</alignment>
            <font>(menubtn_font)</font>
            <group>mysql</group>
            <onup>mysql_database</onup>
            <ondown>mysql_password</ondown>
            <onleft>menu_mysql_mysql</onleft>
            <onright>menu_mysql_mysql</onright>
            <texturefocus>button_focus.png</texturefocus>
            <texturenofocus>button_nofocus.png</texturenofocus>
        </control>
        <control>
            <description>Password button</description>
            <id>mysql_password</id>
            <type>button</type>
            <posX>(value_x)</posX>
            <posY>(data_up_y)+4*((row_h)+(row_dh))</posY>
            <width>(value_w)</width>
            <height>(row_h)</height>
            <offsetX>(btn_off_x)</offsetX>
            <offsetY>(btn_off_y)</offsetY>
            <alignment>(value_align)</alignment>
            <font>(menubtn_font)</font>
            <group>mysql</group>
            <onup>mysql_user</onup>
            <ondown>mysql_host</ondown>
            <onleft>menu_mysql_mysql</onleft>
            <onright>menu_mysql_mysql</onright>
            <texturefocus>button_focus.png</texturefocus>
            <texturenofocus>button_nofocus.png</texturenofocus>
        </control>
        <!-- END mysql -->

        <!-- BEGIN paths -->
        <control>
#include titleattrs.xml
            <id>paths_title</id>
            <label>20</label>
            <group>paths</group>
        </control>
        <control>
            <description>Myth TV button</description>
            <id>menu_paths_mythtv</id>
            <type>button</type>
            <posX>(menu_up_x)</posX>
            <posY>(menu_up_y)+0*((menubtn_h)+(menubtn_dh))</posY>
            <offsetX>(btn_off_x)</offsetX>
            <offsetY>(btn_off_y)</offsetY>
            <alignment>(btn_align)</alignment>
            <width>(menubtn_w)</width>
            <height>(menubtn_h)</height>
            <label>21</label>
            <font>(menubtn_font)</font>
            <group>paths</group>
            <onup>menu_paths_save</onup>
            <ondown>menu_paths_mysql</ondown>
            <onleft>paths_recordedprefix</onleft>
            <onright>paths_recordedprefix</onright>
            <texturefocus>button_focus.png</texturefocus>
            <texturenofocus>button_nofocus.png</texturenofocus>
        </control>
        <control>
            <description>MySQL button</description>
            <id>menu_paths_mysql</id>
            <type>button</type>
            <posX>(menu_up_x)</posX>
            <posY>(menu_up_y)+1*((menubtn_h)+(menubtn_dh))</posY>
            <offsetX>(btn_off_x)</offsetX>
            <offsetY>(btn_off_y)</offsetY>
            <alignment>(btn_align)</alignment>
            <width>(menubtn_w)</width>
            <height>(menubtn_h)</height>
            <label>22</label>
            <font>(menubtn_font)</font>
            <group>paths</group>
            <onup>menu_paths_mythtv</onup>
            <ondown>menu_paths_paths</ondown>
            <onleft>paths_recordedprefix</onleft>
            <onright>paths_recordedprefix</onright>
            <texturefocus>button_focus.png</texturefocus>
            <texturenofocus>button_nofocus.png</texturenofocus>
        </control>
        <control>
            <description>Paths button</description>
            <id>menu_paths_paths</id>
            <type>button</type>
            <posX>(menu_up_x)</posX>
            <posY>(menu_up_y)+2*((menubtn_h)+(menubtn_dh))</posY>
            <offsetX>(btn_off_x)</offsetX>
            <offsetY>(btn_off_y)</offsetY>
            <alignment>(btn_align)</alignment>
            <width>(menubtn_w)</width>
            <height>(menubtn_h)</height>
            <default>yes</default>
            <label>23</label>
            <font>(menubtn_font)</font>
            <group>paths</group>
            <onup>menu_paths_mysql</onup>
            <ondown>menu_paths_test</ondown>
            <onleft>paths_recordedprefix</onleft>
            <onright>paths_recordedprefix</onright>
            <texturefocus>button_focus.png</texturefocus>
            <texturenofocus>button_nofocus.png</texturenofocus>
        </control>
        <control>
            <description>Test button</description>
            <id>menu_paths_test</id>
            <type>button</type>
            <posX>(menu_up_x)</posX>
            <posY>(menu_up_y)+4*((menubtn_h)+(menubtn_dh))</posY>
            <offsetX>(btn_off_x)</offsetX>
            <offsetY>(btn_off_y)</offsetY>
            <alignment>(btn_align)</alignment>
            <width>(menubtn_w)</width>
            <height>(menubtn_h)</height>
            <label>24</label>
            <font>(menubtn_font)</font>
            <group>paths</group>
            <onup>menu_paths_paths</onup>
            <ondown>menu_paths_save</ondown>
            <onleft>paths_recordedprefix</onleft>
            <onright>paths_recordedprefix</onright>
            <texturefocus>button_focus.png</texturefocus>
            <texturenofocus>button_nofocus.png</texturenofocus>
        </control>
        <control>
            <description>Save button</description>
            <id>menu_paths_save</id>
            <type>button</type>
            <posX>(menu_up_x)</posX>
            <posY>(menu_up_y)+5*((menubtn_h)+(menubtn_dh))</posY>
            <offsetX>(btn_off_x)</offsetX>
            <offsetY>(btn_off_y)</offsetY>
            <alignment>(btn_align)</alignment>
            <width>(menubtn_w)</width>
            <height>(menubtn_h)</height>
            <label>17</label>
            <font>(menubtn_font)</font>
            <group>paths</group>
            <onup>menu_paths_test</onup>
            <ondown>menu_paths_mythtv</ondown>
            <onleft>paths_recordedprefix</onleft>
            <onright>paths_recordedprefix</onright>
            <texturefocus>button_focus.png</texturefocus>
            <texturenofocus>button_nofocus.png</texturenofocus>
        </control>
        <control>
            <description>Recorded Show Prefix label</description>
            <id>paths_recordedprefix_lbl</id>
            <type>label</type>
            <posX>(label_x)</posX>
            <posY>(data_up_y)+0*((row_h)+(row_dh))</posY>
            <width>(label_w)</width>
            <height>(row_h)</height>
            <label>14</label>
            <font>(label_font)</font>
            <textcolor>0xffffffff</textcolor>
            <group>paths</group>
        </control>
        <control>
            <description>Recorded Show Prefix button</description>
            <id>paths_recordedprefix</id>
            <type>button</type>
            <posX>(value_x)</posX>
            <posY>(data_up_y)+0*((row_h)+(row_dh))</posY>
            <width>(value_w)</width>
            <height>(row_h)</height>
            <offsetX>(btn_off_x)</offsetX>
            <offsetY>(btn_off_y)</offsetY>
            <alignment>(value_align)</alignment>
            <font>(menubtn_font)</font>
            <group>paths</group>
            <onup>paths_ffmpeg</onup>
            <ondown>paths_ffmpeg</ondown>
            <onleft>menu_paths_paths</onleft>
            <onright>menu_paths_paths</onright>
            <texturefocus>button_focus.png</texturefocus>
            <texturenofocus>button_nofocus.png</texturenofocus>
        </control>
        
        <control>
            <description>FFMpeg label</description>
            <id>paths_ffmpeg_lbl</id>
            <type>label</type>
            <posX>(label_x)</posX>
            <posY>(data_up_y)+1*((row_h)+(row_dh))</posY>
            <width>(label_w)</width>
            <height>(row_h)</height>
            <label>15</label>
            <font>(label_font)</font>
            <textcolor>0xffffffff</textcolor>
            <group>paths</group>
        </control>
        <control>
            <description>FFMpeg button</description>
            <id>paths_ffmpeg</id>
            <type>button</type>
            <posX>(value_x)</posX>
            <posY>(data_up_y)+1*((row_h)+(row_dh))</posY>
            <width>(value_w)</width>
            <height>(row_h)</height>
            <offsetX>(btn_off_x)</offsetX>
            <offsetY>(btn_off_y)</offsetY>
            <alignment>(value_align)</alignment>
            <font>(menubtn_font)</font>
            <group>paths</group>
            <onup>paths_recordedprefix</onup>
            <ondown>paths_recordedprefix</ondown>
            <onleft>menu_paths_paths</onleft>
            <onright>menu_paths_paths</onright>
            <texturefocus>button_focus.png</texturefocus>
            <texturenofocus>button_nofocus.png</texturenofocus>
        </control>
        
        <!-- END paths -->
    </controls>
</window>
